<mat-toolbar color = "primary">

    <span>
        <i class="fa-solid fa-video"></i> YesMovies
    </span>

    <span class = "spacer"></span>

    <a routerLink="/" mat-button>
        <i class="fa-solid fa-house"></i> Home
    </a>

    <a routerLink="/search" mat-button>
        <i class="fa-solid fa-search"></i> Pronadji Film
    </a>

    <a routerLink="/allmovies" mat-button>
        <i class="fa-solid fa-film"></i> Lista Filmova
    </a>

    <a routerLink="/login" mat-button *ngIf="!service.getActiveUser()">
        <i class="fa-solid fa-right-to-bracket"></i> Login
    </a>

    <a routerLink="/user" mat-button *ngIf="service.getActiveUser()">
        <i class="fa-solid fa-user"></i> Nalog 
    </a>

    <button mat-button *ngIf="service.getActiveUser()" (click)="doLogout()">
        <i class="fa-solid fa-right-from-bracket"></i> Logout 
    </button>

</mat-toolbar>

<router-outlet />
